# IntelliJ
# IntelliJ build output
out/

# opcional: arquivos do IntelliJ
.idea/
*.iml

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# Build folders
target/
build/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
dist/

# Temporary files
*.tmp
*.temp